node_modules/
**/node_modules/
**/plugin/build/
**/plugin/log/
**/log/
.DS_Store
.vscode/
_sdk_tmp/
*.log
dist/
release/

streamdock-http-request.zip


icons/preview/
icons/preview-live/
icons/preview-live-variants/
icons/node_modules/
icons/package-lock.json
icons/preview-live-*.js
